<div ng-controller="DebugCtrl" id="helm">

    <div class="row">
	<div class="col-md-2">
	</div>

	<div class="col-md-8">

	    <div class="panel panel-center" style="height: 500px;">

		<p>Position</p>
		<dl class="dl-horizontal">
		    <dt>X</dt>
		    <dd>{{ ship.position.x | number:4 }}</dd>
		    <dt>Y</dt>
		    <dd>{{ ship.position.y | number:4 }}</dd>
		    <dt>Z</dt>
		    <dd>{{ ship.position.z | number:4 }}</dd>
		</dl>

		<p>Heading</p>
		<dl class="dl-horizontal">
		    <dt>X</dt>
		    <dd>{{ ship.heading.x | number:4 }}</dd>
		    <dt>Y</dt>
		    <dd>{{ ship.heading.y | number:4 }}</dd>
		    <dt>Z</dt>
		    <dd>{{ ship.heading.z | number:4 }}</dd>
		    <dt>Angle Z-X</dt>
		    <dd>{{ angleZX | number:4 }}</dd>
		    <dt>Angle Y-Z</dt>
		    <dd>{{ angleYZ | number:4 }}</dd>

		</dl>

		<p>Movement</p>
		<dl class="dl-horizontal">
		    <dt>Impulse Slider</dt>
		    <dd>{{ ship.targetImpulse }} %</dd>
		    <dt>Current Impulse</dt>
		    <dd>{{ ship.currentImpulse | number:0 }} %</dd>
		    <dt>Current Speed</dt>
		    <dd>{{ ship.speed | number:4 }} km/s</dd>
		</dl>

	    </div>

	</div>

	<div class="col-md-2">
	</div>

    </div>

</div>