<div ng-controller="HelmCtrl" id="helm" class="station-pane">

    <div class="row">
        <div class="col-md-2">

                <!-- Ship system status -->
                <div style="margin: 15px;">

                    <p style="font-weight: bold; color: white;">Ship system status</p>

                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Energy</th>
                            <td>{{ ship.energy | number:0 }}</td>
                        </tr>
                        <tr>
                            <th>Speed</th>
                            <td>{{ ship.speed | number:0 }} km/s</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Engines -->
                <div >

                    <button
                        id="togglewarp"
                        ng-model="warpEngine"
                        class="btn btn-danger"
                        btn-checkbox
                        btn-checkbox-true="1"
                        btn-checkbox-false="0"
                    >Warp Engine</button>

                    <button
                        id="toogleslow"
                        ng-model="slowImpulse"
                        class="btn btn-info"
                        btn-checkbox
                        btn-checkbox-true="1"
                        btn-checkbox-false="0"
                    >Slow impulse</button>

                    <div class="row">
                        <div class="col-md-6">
                            <p>Impulse</p>

                            <speedslider
                                ship="ship"
                                id="impulseSlider"
                                data-slider-id="impulseSliderC"
                                engine="impulse"
                            ></speedslider>

                        </div>
                        <div class="col-md-6">
                            <p>Warp</p>

                            <speedslider
                                ship="ship"
                                id="warpSlider"
                                data-slider-id="warpSliderC"
                                engine="warp"
                            ></speedslider>

                        </div>
                    </div>

                </div>


        </div>

        <div class="col-md-8">

            <div compass ship="ship" style="float: left; margin-left: 60px"></div>
            <div scanner ship="ship" otherships="otherships" style="float: left; margin-left: 60px; width: 300px; height: 300px;"></div>
            <div rotation ship="ship" style="float: left; margin-left: 60px; width: 300px; height: 300px;"></div>
            <div space-view ship="ship" otherships="otherships" style="float: left; margin-left: 60px; width: 300px; height: 300px;"></div>
            <div style="float: left; width: 300px; height: 300px;">

                <div style="position: absolute; margin-top: -10px; top: 50%; left: 0; font-weight: bold; color: white; padding-left: 10px;">
                    <span>{{ polar | number:0 }}</span>°
                </div>

                <div style="position: absolute; margin-left: -15px; width: 30px; text-align: center; bottom: 0; left: 50%; font-weight: bold; color: white;">
                    <span>{{ azimuth | number:0 }}</span>°
                </div>

                <button id="rollleft" class="btn btn-primary" ng-mousedown="rotate('roll', -10)" ng-mouseup="rotate('roll', 0)" style="position: absolute; bottom: 0; left: 0;">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
                <button id="pitchDown" class="btn btn-primary" ng-mousedown="rotate('pitch', -10)" ng-mouseup="rotate('pitch', 0)" style="position: absolute; bottom: 45px; left: 0;">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </button>
                <button id="rollRight" class="btn btn-primary" ng-mousedown="rotate('roll', 10)" ng-mouseup="rotate('roll', 0)" style="position: absolute; bottom: 0; right: 0;">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
                <br />
                <button id="turnleft" class="btn btn-primary" ng-mousedown="rotate('yaw', 10)" ng-mouseup="rotate('yaw', 0)" style="position: absolute; bottom: 0; left: 45px;">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </button>

                <button id="pitchUp" class="btn btn-primary" ng-mousedown="rotate('pitch', 10)" ng-mouseup="rotate('pitch', 0)" style="position: absolute; top: 0; left: 0;">
                    <span class="glyphicon glyphicon-arrow-up"></span>
                </button>

                <button id="turnRight" class="btn btn-primary" ng-mousedown="rotate('yaw', -10)" ng-mouseup="rotate('yaw', 0)" style="position: absolute; bottom: 0; right: 45px;">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>

        </div>

        <div class="col-md-2">

            <!-- Main screen control -->
            <div style="margin: 15px;">
                <p style="font-weight: bold; color: white">Main screen</p>

                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-default btn-sm">Front</button>
                    <button type="button" class="btn btn-default btn-sm">Rear</button>
                    <button type="button" class="btn btn-default btn-sm">Left</button>
                    <button type="button" class="btn btn-default btn-sm">Right</button>
                    <button type="button" class="btn btn-default btn-sm">Tactical</button>
                    <button type="button" class="btn btn-default btn-sm">Map</button>
                    <button type="button" class="btn btn-default btn-sm">Status</button>
                </div>

            </div>

            <!-- Dock control -->
            <div style="margin: 15px;">
                <p style="font-weight: bold; color: white">Dock control</p>
                <button type="button" class="btn btn-default btn-sm">Request Dock</button>
            </div>

            <!-- Shield control -->
            <div style="margin: 15px;">
                <p style="font-weight: bold; color: white">Shield control</p>
                <button type="button" class="btn btn-default btn-sm">Shields</button>
            </div>

            <div style="margin: 15px;">
                <p style="font-weight: bold; color: white">Ship damage</p>
                All well
            </div>

        </div>

    </div>

</div>
