<div class="flexbox flexbox-horizontal flex">

    <div map
         ship="ship"
         otherships="otherships"
         class="flex"
    ></div>

    <div class="" style="width: 200px;">

        <div>
            <p style="font-weight: bold; color: white">Target</p>
            <table>
                <tr>
                    <td>Name</td>
                    <td>{{ selectedObject.name }}</td>
                </tr>
                <tr>
                    <td>Distance</td>
                    <td>{{ course.distance | number: 0 }}km</td>
                </tr>
                <tr>
                    <td>Course Z-X</td>
                    <td>{{ course.azimuth | number:0 }}°</td>
                </tr>
                <tr>
                    <td>Course Y-Z</td>
                    <td>{{ course.polar | number:0 }}°</td>
                </tr>
            </table>
        </div>

    </div>

</div>