<ul class="nav nav-tabs">
    <li class="active"><a href="#helm" data-toggle="tab">Helm</a></li>
    <li><a href="#science" data-toggle="tab">Science</a></li>
    <li><a href="#weapons" data-toggle="tab">Weapons</a></li>
    <li><a href="#engineering" data-toggle="tab">Engineering</a></li>
    <li><a href="#comm" data-toggle="tab">Comm</a></li>
    <li><a href="#star-map" data-toggle="tab">Star-Map</a></li>
    <li><a href="#add" data-toggle="tab">+</a></li>
</ul>

<div class="tab-content">

    <!-- Helm panel -->
    <div ng-app="HelmCtrl">

        <div class="tab-pane active" id="helm">

            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-left">

                        <!-- Ship system status -->
                        <div>
                            <h1>Ship system status</h1>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Energy</th>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <th>Front Shield</th>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <th>Rear Shield</th>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <th>Beam Weapons</th>
                                    <td>AUTO</td>
                                </tr>
                                <tr>
                                    <th>Weapon Lock</th>
                                    <td>IDLE</td>
                                </tr>
                                <tr>
                                    <th>Shields</th>
                                    <td>--</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Engines -->
                        <div >

                            <h1>Warp</h1>

                            <button>-</button>
                            <input type="text" value="0">
                            <button>+</button>

                            <h1>Impulse</h1>

                            <button ng-click="decelerate()">-</button>
                            <input type="text" ng-model="impuls">
                            <button ng-click="accelerate()">+</button>

                        </div>

                    </div>


                </div>

                <div class="col-md-6">

                    <div class="panel panel-center" style="height: 500px;">
                        <p>Position</p>
                        <dl class="dl-horizontal">
                            <dt>X</dt>
                            <dd>{{ ship.position.x | number:4 }}</dd>
                            <dt>Y</dt>
                            <dd>{{ ship.position.y | number:4 }}</dd>
                            <dt>Z</dt>
                            <dd>{{ ship.position.z | number:4 }}</dd>
                        </dl>

                        <p>Movement</p>
                        <dl class="dl-horizontal">
                            <dt>Current Speed</dt>
                            <dd>{{ ship.speed | number:4 }}</dd>
                        </dl>

                    </div>

                </div>

                <div class="col-md-3">

                    <div class="panel panel-right">

                        <!-- Main screen control -->
                        <div>
                            <h1>Main screen</h1>
                            <ul>
                                <li>Front</li>
                                <li>Rear</li>
                                <li>Left</li>
                                <li>Right</li>
                                <li>Tactical</li>
                                <li>Star-Map</li>
                                <li>Status</li>
                            </ul>
                        </div>

                        <!-- Dock control -->
                        <div>
                            <h1>Dock control</h1>
                            <button>Request Dock</button>
                        </div>

                        <!-- Shield control -->
                        <div>
                            <h1>Shield control</h1>
                            <input type="checkbox"> Shields
                        </div>

                        <div>
                            <h1>Ship damage report</h1>
                            All well
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>