<div>

    <div class="container">

        <div class="table-responsive">
            <table class="table table-bordered table-">
                <thead>
                <tr>
                    <th>Ship</th>
                    <th>Created by</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ship in list">

                    <td ng-show="ship.name">{{ ship.name }}</td>
                    <td ng-show="ship.creator.name">{{ ship.creator.name }}</td>
                    <td><a href="/#/ship/{{ ship.id }}" class="btn btn-primary btn-xs">Join</a></td>

                </tr>
                </tbody>
            </table>
        </div>

        <div class="">
            <button class="btn btn-success" data-toggle="modal" data-target="#createShipModal">create new ship</button>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="createShipModal" tabindex="-1" role="dialog" aria-labelledby="createShipModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="createShipModalLabel">create new ship</h4>
                </div>
                <form class="createShip" role="form">
                    <div class="modal-body">
                        <label for="shipName">name of you new ship</label>
                        <input ng-model="shipName" name="shipName" id="shipName" class="form-control"
                               placeholder="ship name" required autofocus>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                        <button type="submit" class="btn btn-primary" ng-click="create()">create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
