// Core variables and mixins
@import "../components/bootstrap/less/variables.less";
@import "../components/bootswatch/cyborg/variables.less";

@icon-font-path: "../components/bootstrap/fonts/";

@import "../components/bootstrap/less/mixins.less";

// Reset
@import "../components/bootstrap/less/normalize.less";
@import "../components/bootstrap/less/print.less";

// Core CSS
@import "../components/bootstrap/less/scaffolding.less";
@import "../components/bootstrap/less/type.less";
@import "../components/bootstrap/less/code.less";
@import "../components/bootstrap/less/grid.less";
@import "../components/bootstrap/less/tables.less";
@import "../components/bootstrap/less/forms.less";
@import "../components/bootstrap/less/buttons.less";

// Components
@import "../components/bootstrap/less/component-animations.less";
@import "../components/bootstrap/less/glyphicons.less";
@import "../components/bootstrap/less/dropdowns.less";
@import "../components/bootstrap/less/button-groups.less";
@import "../components/bootstrap/less/input-groups.less";
@import "../components/bootstrap/less/navs.less";
@import "../components/bootstrap/less/navbar.less";
@import "../components/bootstrap/less/breadcrumbs.less";
@import "../components/bootstrap/less/pagination.less";
@import "../components/bootstrap/less/pager.less";
@import "../components/bootstrap/less/labels.less";
@import "../components/bootstrap/less/badges.less";
@import "../components/bootstrap/less/thumbnails.less";
@import "../components/bootstrap/less/alerts.less";
@import "../components/bootstrap/less/progress-bars.less";
@import "../components/bootstrap/less/media.less";
@import "../components/bootstrap/less/list-group.less";
@import "../components/bootstrap/less/panels.less";
@import "../components/bootstrap/less/wells.less";
@import "../components/bootstrap/less/close.less";

// Components w/ JavaScript
@import "../components/bootstrap/less/modals.less";
@import "../components/bootstrap/less/tooltip.less";
@import "../components/bootstrap/less/popovers.less";

// Utility classes
@import "../components/bootstrap/less/utilities.less";
@import "../components/bootstrap/less/responsive-utilities.less";

@import "../components/bootswatch/cyborg/bootswatch.less";
@import "../components/bootstrap/less/utilities.less";

@baseLineHeight: 20px;// @border-radius-base;
@baseBorderRadius: @border-radius-base;

.border-radius(@radius) {
  .border-top-radius(@radius);
  .border-right-radius(@radius);
  .border-bottom-radius(@radius);
  .border-left-radius(@radius);
}

// Because of angular bootstrap (see http://angular-ui.github.io/bootstrap/)
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

@import "slider.less";

#impulseSliderC .slider-selection
{
    background: lime;
}

#warpSliderC .slider-selection
{
  background: #f49533;
}

#impulseSliderC .slider-track,
#warpSliderC .slider-track
{
  width: 40px;
}

#impulseSliderC .slider-handle.triangle,
#warpSliderC .slider-handle.triangle
{
  border-width: 20px 0 20px 40px;
  margin-top: -20px;
  border-left-color: #858585;
  opacity: 1;
}

body, html, #main-ui
{
  height: 100%;
}

@import "Map.less";

.control
{
  border-top: 0;
}

.scanner-pagination
{
  margin: 0;
}

.full {
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: black;
  height: 51px;
  width: 100%;
  margin-bottom: 0px;
}


.flexbox{
  display: -webkit-flex;
  -webkit-flex-direction: column;
}

.flexbox-horizontal
{
  -webkit-flex-direction: row;
}

.flex{
  -webkit-flex:1;
  display:-webkit-flex;
}

.static{
  width:100%;
}